/exps_logs/(phase1)_NAW-SV/WavLM/Vox1/NAW-SV_wavlm_vox1/models/NAWSV_vox1_wavlm_params_pretrained_model.pt filter=lfs diff=lfs merge=lfs -text
exp_logs/(phase1)_NAW-SV/WavLM/Vox1/NAW-SV_wavlm_vox1/models/NAWSV_vox1_wavlm_params_pretrained_model.pt filter=lfs diff=lfs merge=lfs -text
exp_logs/(phase1)_NAW-SV/WavLM/Vox2/NAW-SV_wavlm_vox2/models/NAWSV_vox2_wavlm_params_pretrained_model.pt filter=lfs diff=lfs merge=lfs -text
exp_logs/(phase2)_Fine-tuning/WavLM/Vox1/FT_wavlm_vox1/models/FT_vox1_wavlm_params_backend.pt filter=lfs diff=lfs merge=lfs -text
exp_logs/(phase2)_Fine-tuning/WavLM/Vox1/FT_wavlm_vox1/models/FT_vox1_wavlm_params_pretrained_model.pt filter=lfs diff=lfs merge=lfs -text
exp_logs/(phase2)_Fine-tuning/WavLM/Vox2/FT_wavlm_vox2/models/FT_vox2_wavlm_params_backend.pt filter=lfs diff=lfs merge=lfs -text
exp_logs/(phase2)_Fine-tuning/WavLM/Vox2/FT_wavlm_vox2/models/FT_vox2_wavlm_params_pretrained_model.pt filter=lfs diff=lfs merge=lfs -text
